*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;  
}

/*HEADER*/
header{
    background-color: #eac926;   
}

header nav ul{
    padding: 10px 0;
    margin: 10px 0;
}

header nav ul li{
    list-style-type:none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header .contenedor-boton{
    text-align: center;
    padding: 10px;
}

header button.barra-menu{
    padding: 10px;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
    font-size: 20px;
}

.top-header p {
    text-align: center;
}

nav{
    display: none;
}
/*BANNER*/

.banner{
    text-align: center;
    width: 100;
}
/*MAIN*/

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
     background-color: #ffff;
     margin: 10px 0px;

}

main section article i, .descuento{
    color: #39b54a;
}

main section article img {
    width: 100%;
  }
  
.articulos{
    border-top:  solid 1px #ebebeb; 
    padding: 15px;
}

.articulos i{
    border: 2px solid #39b54a;
    border-radius: 50px;
    padding: 5px;
}

main section h3{
    font-size: 24px;
}

.descuento{
    font-size: 16px;
}

.precio{
    font-weight: bold;
    font-size: 18px;
}

.descripcion{
    font-size: 16px;
    font-weight: lighter;
    display: none;
}

/*FOOTER*/

footer.pie_de_pagina{
    text-align: center;
}

footer div i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}



/*TABLET*/

@media screen and (min-width:361px) and (max-width:769px){
    .descripcion{
        display: block;
    }

    main section article{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

    nav{
        display: block;
    }

    .contenedor-boton{
        display: none;
    }
}

/*DESKTOP*/
 @media screen and (min-width:769px){
     .descripcion{
         display: block;
     }

     main section article{
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
    
    nav{
        display: block;
    }

    .contenedor-boton{
        display: none;
    }   
 }