body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

header{
    background-color: #eac926;   
}

header nav ul{
    padding: 10px 0;
    margin: 10px 0;
}

header nav ul li{
    list-style-type:none;
}

header nav ul li a{
    text-decoration: none;
    color: black;
}

header .contenedor-boton{
    text-align: center;
    padding: 10px;
}

header button.barra-menu{
    padding: 10px;
    border-radius: 5px;
    background-color: #1259c3;
    color: white;
    font-size: 20px;
}

.top-header p {
    text-align: center;
}

h1{
    font-size: 24px;
}

.descuento{
    font-size: 16px;
}

.descripcion{
    font-size: 16px;
}

footer.pie_de_pagina{
    text-align: center;
}

footer div i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

main{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #ffff;
     margin: 10px 0px;

}

main section article i, .descuento{
    color: #39b54a;
}



